body {
	background-color: white;
	/*background-image: url('http://tinyurl.com/mgouou4');*/
	font-family: Gudea;
}

.CV {
	width: 80%;
	background: white;
	margin: auto;
}

.header {
	padding: 25px 35px;
	width: auto;
	margin-top: -10px;
	height: 100px;
	margin-bottom: 10px;
	background-color: white;
	border-bottom: 2px solid #7A00A3;
	/*border-bottom: 2px solid #FFCC66;*/
}

/*
.picture {
	width: 12.5%;
	float: left;
	margin-right: 30px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.picture img {
	width: 90px;
	height: 90px;
	border-radius: 50px;
}
*/

.name {
	display: inline;
	margin-top: 7px;
	color: 	#7A00A3;
	font-size: 0.8em;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.contact-info {
	color: #808284;
  	display: inline;
  	font-size: .7em;
  	letter-spacing: 1px;
  	line-height: .9em;
  	text-transform: uppercase;
}

.links {
	color: #58585B;
  	display: inline;
  	text-decoration: none;
}

.links:hover {
  color: #DF723E;
  font-style: bold;
}

.links img {
  margin-bottom: -.2em;
  padding-right: .3em;
  padding-left: .3em;
}

/*
.contact {
	color: #808284;
	display: inline-block;
	margin-left: 50px;
	margin-top: 5px;
	font-size: 0.8em;
	letter-spacing: 1px;
	line-height: .9em;
	text-transform: uppercase;
}

.contact a:link, a:visited {
	text-decoration: none;
	color: #808284;
}

.contact a:hover{
	color: #C299EA;
	font-weight: bold;
}

.contact img {
	margin-bottom: -0.2em;
}
*/

.main {
	position: relative;
	clear: both;
	width: 97.5%;
}

.break {
	position: relative;
	clear: both;
	width: 97.5%;
	/*border-bottom: 1px dashed #7A00A3;*/
}

.clear { clear: both; }

h2 {
	float: left;
	width: 25%;
	padding-left: 20px;
	color: #7A00A3;
	font-size: 1.1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	/*border-right: 1px solid #ccc;*/
}

.content {
	float: right;
	position: relative;
	width: 70%;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.content h3 {
	color: #9900CC;
	font-size: 0.95em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.content .location {
	color: #58585B;
	display: inline;
	font-size: 0.8em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.content h4 {
	display: inline;
	
}

.content .dates {
	text-align: right;
	text-transform: none;
	font-size: 90%;
}

.content p {
	display: inline;
}

/*
.footer {
	position: relative;
	height: 50px;
	clear: both;
	font-size: 0.8em;
	padding-top: 7px;
	text-align: center;
	color: #808284;
	text-transform: uppercase;
	background-color: white;
	border-top: 2px solid #7A00A3;
}

.footer a:link, a:visited {
	text-decoration: none;
	color: #808284;
}

.footer a:hover{
	color: #C299EA;
	font-weight: bold;
}
*/