body {
	background-color: white;
	font-family: Gudea;
}

.CV {
	width: 80%;
	background: white;
	margin: auto;
}

.header {
	z-index: 1;
	padding-bottom: 17px;
	width: auto;
	height: 100px;
	margin-bottom: 10px;
	background-color: white;
	border-bottom: 2px solid #009688;
}

.picture {
	width: 12.5%;
	float: left;
	padding: 10px 20px 20px 20px;
}

.picture img {
	width: 90px;
	height: 90px;
	border-radius: 50px;
}

.name {
	display: inline-block;
	color: #009688;
	font-size: 1em;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding: 15px 0 0 15px;
	text-align: center;
}

.contact-info {
	color: #4C4C4C;
	position: relative;
	float: right;
  	display: inline-block;
  	padding: 12px 25px 0 0;
  	font-size: 0.8em;
  	letter-spacing: 1px;
  	line-height: 0.9em;
  	text-transform: uppercase;
}

.contact-info ul {
	list-style-type: none;
}

.contact-info ul li a:visited, a:link {
	color: #4C4C4C;
  	text-decoration: none;
}

.contact-info ul li a:hover {
	color: #CC0066;
	font-weight: bold;
}

.main {
	position: relative;
	clear: both;
	width: 97.5%;
}

.break {
	position: relative;
	clear: both;
	width: 97.5%;
}

h2 {
	float: left;
	width: 25%;
	padding-left: 20px;
	color: #009688;
	/*color: #7A00A3;*/
	font-size: 1.2em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.content {
	float: right;
	position: relative;
	width: 70%;
	margin: 0 0 0 0;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.content h3 {
	color: #009688;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.content .location {
	color: #58585B;
	display: inline;
	font-size: 0.9em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.content p {
	margin: 0;
}

.content h4 {
	display: inline;
	color: #58585B;
}

.content .dates {
	text-align: right;
	text-transform: uppercase;
	font-size: 90%;
}

.content ul {
	margin: 5px 0;
}

.content .skills {
	position: relative;
	display: inline;
	text-transform: none;
	color: black;
}

.footer {
	position: relative;
	height: 50px;
	clear: both;
	font-size: 0.8em;
	padding-top: 7px;
	text-align: center;
	color: #808284;
	text-transform: uppercase;
	background-color: white;
	border-top: 2px solid #009688;
}

.footer a:link, a:visited {
	text-decoration: none;
	color: #808284;
}

.footer a:hover{
	color: #CC0066;
	font-weight: bold;
}